.card {
  &__container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(130deg, #ffe561, #ffd24c);
    color: #333;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    border: 1px solid #303030;
    width: 300px;
    min-height: 400px;
    margin: 0 2px;
  }

  &__img {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
