.card {
  color: #303030;
  padding: 10rem 0 0;
  margin: 0;
  width: 300px;
  height: 140px;
  border-radius: 0.5rem;
  overflow: hidden;

  transition: transform 500ms ease-out;

  &__content {
    height: 272px;
    --padding: 1.5rem;
    padding: 10px;
    background: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(173, 173, 169, 0.5) 1%,
      rgba(255, 255, 255, 1)
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(10%);
    transition: transform 450ms ease;
  }

  &__subtitle {
    position: relative;
    padding: 0 0 7px 0;
  }

  &__subtitle::after {
    content: "";
    position: absolute;
    left: calc(var(--padding) * -1);
    bottom: 0;
    height: 8px;
    width: calc(100% + var(--padding));
    background: #ffcc57;
    transform-origin: left;

    transition: transform 450ms ease-out;

    transform: scaleX(0);
  }

  &__descr {
    margin: 0 0 15px 0;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    cursor: pointer;
    text-decoration: none;
    color: #303030;
    background-color: #ffcc57;
    padding: 0.5em 1.25em;
    font-size: 16px;
    border-radius: 0.25em;
    font-weight: 500;
    margin: auto auto 0 0;

    &:hover,
    &:focus {
      background-color: #303030;
      color: #ffcc57;

      & + .card__date {
        color: #303030;
        background-color: #ffcc57;
      }
    }
  }

  &__date {
    cursor: pointer;
    text-decoration: none;
    color: #ffcc57;
    background-color: #303030;
    padding: 5px;
    font-size: 16px;
    border-radius: 0.25em;
    font-weight: 500;
    margin: auto 0 0 auto;
    width: min-width;
    border: 3px solid #303030;
    transition: all 350ms ease-out;
  }

  &__content > *:not(.card__subtitle) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  &:hover {
    cursor: pointer;

    .card__subtitle::after {
      transform: scaleX(1);
    }

    .card__content > *:not(.card__subtitle) {
      transition-delay: 100ms;
    }

    .card__content {
      transform: translateY(-57%);
      transition-delay: 100ms;
    }

    .card__content > *:not(.card__subtitle) {
      opacity: 1;
      transition-delay: 100ms;
    }
  }
}
