.employees {
  &__container {
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: auto auto;
    grid-template-areas:
      "owner owner owner"
      "manager superviser chasier";
    align-items: start;
    gap: 10px;
  }

  &__subcontainer {
    &--Owner {
      grid-area: owner;
    }

    &--Manager {
      grid-area: manager;
    }

    &--Superviser {
      grid-area: superviser;
    }

    &--Cashier {
      grid-area: chasier;
    }
  }

  &__position {
    background-color: rgba(48, 48, 48, 0.7);
    font-size: 24px;
    top: 0px;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 5;
    box-shadow: 0px 1px 11px -1px #000000;
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 0 5px 0;
    border: 1px solid #303030;

    &::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      height: 15px;
      z-index: 4;
      background-color: #ffcc57;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  &__title {
    color: #ffcc57;
    margin: 0 0 0 20px;
  }
}
