.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
}

.rec.rec-slider-container {
  margin: 0 0px;
  overflow: hidden;
}

.rec-carousel-item {
  min-height: 100%;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

.rec.rec-arrow {
  border-radius: 0;
  position: absolute;
  z-index: 10;
  background-color: rgba(255, 205, 87, 0.3);
}

.rec.rec-arrow:hover:enabled,
.rec.rec-arrow:focus:enabled {
  background-color: #ffcc57;
}

.rec.rec-arrow-left {
  left: 0;
}

.rec.rec-arrow-right {
  right: 0;
}

.rec-carousel {
  position: relative;
}

.rec-pagination {
  position: absolute;
  bottom: 7px;
}

.rec.rec-dot {
  margin: 0 20px;
  background-color: #f1f1f1;
}

.rec.rec-dot {
  margin: 0 20px;
  background-color: #f1f1f1;
  display: none;
}

.rec.rec-dot.rec-dot_active {
  margin: 0 20px;
  background-color: #95dada;
  box-shadow: 0 0 1px 3px #95dada;
}

/*********************************************************************/
